.navbar-brand{
    padding: 10px;
    position: relative;
    background-color: rgb(236, 192, 150);
}

.navbar-expand-lg{
    padding: 20px;
    position: relative;
    background-color: rgb(211, 198, 165);
} 

body {
    background: palevioletred;
    padding-bottom: 60px;
}

.container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.col-lg-7{
    background-color: white;
    padding-top:10px;
}

.homepage{
    background-color: white;
}

.visualcol{
    background-color: white;
    padding-top: 10px;
    max-width: 38.666667%;
    margin-left: 3%;
    height: fit-content;
    padding: 18px;
    display: block
}

.dataframe1{
    background-color: white;
}

.tableframe {
    display: flex;
    justify-content: center;


@media (max-width: 991px){
.visualcol{
    background-color: white;
    padding-top: 10px;
    max-width: 102.666667%;
    margin-left: auto;
    height: fit-content;
    padding: 18px;
    display: block;
}

.thumbnails{
    height: 150px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnails1 {
    display: flex;
    justify-content: space-evenly;
}